<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container mt-5">	
		<div class="row mt-4">
			<h1 class="page-header">Sukses!</h1>
		</div>
		<div class="row mt-2">
			<h4 th:text="'Penduduk dengan NIK ' +  ${nik_death} + ' sudah tidak aktif'"></h4>
		</div>
		<div class="row mt-2">
			<form action="/penduduk" method="get">
				<input type="hidden" th:name="nik" th:value="${penduduk.nik}"/>
				<button type="submit" class="btn btn-primary">Result</button>
			</form>
		</div>
		<hr/>
	</div>
</body>
</html>