<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title-fragment">
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container mt-5">	
		<div class="row mt-4">
			<h1 class="page-header">Sukses!</h1>
		</div>
		<div class="row mt-2">
			<h4 th:text="'penduduk dengan NIK ' +  ${penduduknik} + ' berhasil ditambahkan'"></h4>
		</div>
		<hr/>
		<div class="row mt-4">
			<input type="button" class="btn btn-primary" onclick="location.href='/penduduk/tambah'" value="Add Penduduk Lagi" />
		</div>
	</div>
</body>
</html>